body{
    margin: 0;
}

.main-title{
    background-color: #212022;

    
}

.init-title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.init-title h1{
    color: #b967e6;
    font-size: 40px;
    font-weight: normal;
}

.logo{
    max-height: 50px;
    padding: 5px;
    padding-right: 10px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 7px;
    /* background-color: #641a8c; */
    border-radius: 50px;
}

.login-route-wrapper, .signup-wrapper{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.login-route, .signup{
    width: 400px;
    background-color: #232224;
    border-radius: 5px;
}

.login-route-form, .signup-form{
    padding-top: 27px;
    padding-bottom: 50px;
}

/* .signup, .login-route{

} */

.signup-switch, .login-switch{
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    list-style: none;

    
}

.signuplink, .loginlink{
    text-decoration: none;
    background-color: #3d3b40;
    padding: 15px;
    padding-top: 10px;
    color: white;
    border-radius: 5px;
    list-style: none;
}
.signup h5, .login-route h5{
    margin: 10px;
}

.signup-title, .login-route-title{
    margin-left: 10%;
    margin-top: 5px;
}

.signup-input, .login-route-input{
    height: 20px;
    width: 300px;
    margin-left: 10px;
}

.member-signup, .member-login{
    margin: 20px;
    padding: 10px;
    text-align: center;
}

.signup-button, .login-route-button{
    margin-left: 12.4%;
    height: 30px;
    width: 308px;
    background-color: #3d3b40;
    border: none;
    color: aliceblue;
    font-weight: bold;
    
}

.logout-icon{
    text-decoration: none;
    width: 27px;
}

.logout-button{
    display: inline-block;
    position: absolute;
    right: 25px;
    top: 26px;

}

.navbar{
display: flex;
flex-wrap: wrap;
}

.header{
    width: 100%;
    position: relative;
}

.home-icon, .message-icon, .profile-icon, .friends-icon, .music-icon{
    width: 30px;
    padding: 30px;
}

.navbar-elements{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup {
    position: absolute;
    /* display: inline-block; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
  }

.popuptext{
    padding: 15px;
    width: 400px;
    background-color: #212022;
    position: absolute;
    top: 250%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.popup .popuptext {
    visibility: hidden;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    /* padding: 8px 0; */
    position: absolute;
  }


  /* .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  } */

.popup .show {
visibility: visible;
}

.popup-title h5{
color: #b967e6;
font-weight: normal;
background-color: #212022;
padding: 15px;
border-radius: 50px;
width: 400px;
position: absolute;
top: 20%;
left: 50%;
transform: translate(-50%, -50%);
}

.homepage-wrapper{
    
}