body {
    margin: 0;
}

nav {
    position: sticky; top: 0;
    z-index: 1;
}

.main-title {
    background-color: #212022;
}

.init-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.init-title h1 {
    color: #b967e6;
    font-size: 40px;
    font-weight: normal;
}

.logo {
    max-height: 50px;
    padding: 5px;
    padding-right: 10px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 7px;
    /* background-color: #641a8c; */
    border-radius: 50px;
}

.login-route-wrapper,
.signup-wrapper {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-route,
.signup {
    width: 400px;
    background-color: #232224;
    border-radius: 5px;
}

.login-route-form,
.signup-form {
    padding-top: 27px;
    padding-bottom: 50px;
}

.signup-switch,
.login-switch {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    list-style: none;
}

.signuplink,
.loginlink {
    text-decoration: none;
    background-color: #3d3b40;
    padding: 15px;
    padding-top: 10px;
    color: white;
    border-radius: 5px;
    list-style: none;
}

.signup h5,
.login-route h5 {
    margin: 10px;
}

.signup-title,
.login-route-title {
    margin-left: 10%;
    margin-top: 5px;
}

.signup-input,
.login-route-input {
    height: 20px;
    width: 300px;
    margin-left: 10px;
}

.member-signup,
.member-login {
    margin: 20px;
    padding: 10px;
    text-align: center;
}

.signup-button,
.login-route-button {
    margin-left: 12.4%;
    height: 30px;
    width: 308px;
    background-color: #3d3b40;
    border: none;
    color: aliceblue;
    font-weight: bold;
}

.logout-icon {
    text-decoration: none;
    width: 27px;
}

.logout-button {
    display: inline-block;
    position: absolute;
    right: 25px;
    top: 26px;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
}

.header {
    width: 100%;
    position: relative;
}

.home-icon,
.message-icon,
.profile-icon,
.friends-icon,
.music-icon,
.notif-icon {
    position: relative;
    width: 30px;
    padding: 30px;
}

.navbar-elements {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 600px) {
    .navbar-elements {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home-icon,
    .message-icon,
    .profile-icon,
    .friends-icon,
    .music-icon,
    .notif-icon{
        padding: 10px;
        /* Adjust the padding to your desired spacing */
    }
}

@media screen and (min-width: 601px) and (max-width: 1000px) {
    .navbar-elements {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home-icon,
    .message-icon,
    .profile-icon,
    .friends-icon,
    .music-icon, 
    .notif-icon{
        padding: 20px;
        /* Adjust the padding to your desired spacing */
    }

}

.popup .show {
    visibility: visible;
}

.post-title h5 {
    color: #b967e6;
    font-weight: normal;
    background-color: #212022;
    padding: 15px;
    border-radius: 50px;
    width: 400px;
    position: relative;
    margin-top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.post-title2 h5 {
    color: #b967e6;
    font-weight: normal;
    background-color: #212022;
    padding: 15px;
    border-radius: 50px;
    width: 400px;
    position: relative;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.post-body {
    border-style: none;
    border-color: #b967e6;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 25px;
    margin: 20px;
    background-color: #232224;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 3px black;
}

/* .post-title-list{
    border-style: solid;
    
} */

.post-list {
    display: flex;
    justify-content: center;
}

.post-list2{
    width: 71%;
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}

.favDialog{
    background-color: #232224;
    border-radius: 25px;
    width: 400px;

}

.post-name {
    color: #b967e6;
}

.post-textarea {
    width: 380px;
    height: 150px
}

.submit-btn{
    margin-left: 38.5%;
    background-color: #b967e6;
    color: aliceblue;
    border-radius: 5px;
    height: 40px;
    width: 70px;
}

.esc{
    margin-left: 38%;
    color: #b967e6;
}

.post-p {
    position: relative;
    width: 85%;
}

.post-pic{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 30px;
}

.post-content{
    color: aliceblue;
    font-weight: normal;
}

.profile-pic{
    border-radius: 50%;
    width: 80%;
    height:80%;
}

.banner{
    display: flex;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    width: auto;
    object-fit: fill;
}

.banner-wrapper{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.profile-pic-wrapper{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #232224;
    margin-top: -100px;
    /* margin-left: 30px; */
}

.button-img{
    width: 20px;
}

.button-img2{
    width: 20px;
}

.upload-button{
    background-color: #232224;
    margin-top: 70px;
    border-radius: 50%;
    position: absolute;
    margin-left: 150px;
}

.upload-button2{
    background-color: #232224;
    border-radius: 50%;
    position: absolute;
    margin-top: -35px;
    margin-left: 5px;
}

.profile-name-wrapper{
    display: flex;
    justify-content: center;
}

.profile-name{
    color: #b967e6;
    font-weight: normal;
}

.name-pic{
    display: flex;
    justify-content: center;
}

.user-post-pic-wrap{
    border-color:#b967e6;
}

.cancel-btn{
    width: 10px
}

.cancel-btn-wrap{
    background-color: transparent;
    border-radius: 5px;
}

.friend-pic{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 25px;
    margin-left: 15px;
}

.friend-name{
    color: #b967e6;
}

.friend-username{
    color: aliceblue;
    margin-left: 15px;
}

.friend{
    display: flex;
    background-color: #232224;
    margin: 10px;
    width: 297px;
    height: 150px;
    border-radius: 10px;
}

.friends-list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.search{
    position: relative;
    top: 25px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
}

.friend-btn{
    width: 20px;
    height: 20px;
}

.friend-btn-wrap{
    background-color: #232224;
    border-radius: 10px;
    margin-top: 100px;
    margin-left: 15px;
}

.notif-wrapper{
    background-color: #232224;
    border-radius: 25px;
    width: 400px;
    box-shadow: 1px 1px 1px 3px black;
    height: 150px;
    margin-top: 30px;
}

.notif-name{
    color: #b967e6;
    text-align: center;
}

.notif-msg{
    color: aliceblue;
    text-align: center;
}

.notif-btn{
    background-color: #232224;
    color: #b967e6;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    position: relative;
    left: 150px;
}

.notif-page h1{
    display: flex;
    justify-content: center;
    color: #b967e6;
}

.notif-wrapper-wrapper{
    display: flex;
    justify-content: center;
}

.loser{
    color: #b967e6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.profile-friend-pic{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-friend-pic-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.friend-title{
    color: #b967e6;
    font-weight: normal;
    margin: 20px;
}

/* .friend-title-wrap{

} */

.friends-on-profile{
    background-color: #232224;
    border-radius: 20px;
    width: 40%;

}

.friends-on-profile-wrap{
    display: flex;
    justify-content: center;
    margin-bottom: 30px
}

.no-notifs{
    color: #b967e6;
    font-weight: normal;
    display: flex;
    justify-content: center;
}

.delete-btn{
    background-color: #232224;
    border-radius: 20px;
}

.delete-btn-img{
    width: 15px;
}

.delete-btn-wrap{
    display: flex;
    justify-content: end;
}

.comments{
    /* background-color: #1c1c1e; */
    border-radius: 10px;
}

.comment h5{
    color: #b967e6;
}

.comment p{
    color: aliceblue;
}

.comment-wrapper{
    background-color: #2e2d2f;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.comment-textarea{
    border-radius: 7px;
    width: 90%;
    /* margin-left: 90px; */
}

.comment-form-wrap{
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
}

.comment-form{
    display: flex;
    width: 100%
}


.comment-submit{
    background-color: #232224;
    border-radius: 10px;
}

.comment-submit-img{
    width: 30px
}

.comment-pic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 30px;
}

.comment-pic2{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    /* margin-top: 30px; */
}